@page "/confirmacion"
#nullable enable
@inject CarritoService CarritoService
@inject NavigationManager nav
@using cliente.dtos

<h3>Confirmación de Compra</h3>

<EditForm Model="cliente" OnValidSubmit="Confirmar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Nombre</label>
        <InputText class="form-control" @bind-Value="cliente.Nombre" />
    </div>
    <div class="mb-3">
        <label>Apellido</label>
        <InputText class="form-control" @bind-Value="cliente.Apellido" />
    </div>
    <div class="mb-3">
        <label>Email</label>
        <InputText class="form-control" @bind-Value="cliente.Email" />
    </div>

    <button class="btn btn-success">Confirmar</button>
</EditForm>

@code {
    private ClienteDto cliente = new();

    private async Task Confirmar()
    {
        await CarritoService.ConfirmarCompra(cliente);
        nav.NavigateTo("/");
    }
}
